.app {
  background-color: #353b48;
  color: #f5f6fa;
  display: flex;
  flex-direction: column;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: calc(10px + 1.2vmin);
  text-align: center;
  min-height: 100vh;
  padding: 1% 10% 0;
}

.app h2 > span {
  font-size: small;
  color: #fff;
}

.selected-cities-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #2f3640;
  border-radius: 6px;
  background-color: #f5f6fa;
  width: 65%;
  padding: 12px;
  margin: 6px auto 20px;
  max-width: 300px;
  color: #2f3640;
}

.selected-cities-container span {
  color: #2f3640;
}

.selected-cities-container strong {
  font-size: 18px;
  color: #0097e6;
  display: flex;
  align-items: center;
}

.select-div {
  margin: 12px 0 2px;
}

.select-div:focus {
  outline: none;
  border-color: #00a8ff;
  box-shadow: 0 0 0 2px #e84118;
}

.select-div select {
  width: 80%;
  max-width: 200px;
  padding: 8px;
  border: 2px solid #2f3640;
  border-radius: 6px;
  background-color: #f5f6fa;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
  margin-top: 6px;
}

.time-emoji {
  padding-right: 5px;
}

.sun-position h3 {
  margin: 6px 0;
}
.sun-position strong {
  color: #e1b12c;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: 1%;
  width: 100%;
  text-align: center;
}
footer > button {
  background: none;
  border: none;
  cursor: pointer;
  color: #f5f6fa;
  font-size: calc(10px + 1.1vmin);
  margin-right: 8px;
  transition: font-weight 0.1s ease-in-out;
}

footer > button:hover {
  font-weight: bolder;
}

.info-button i {
  color: #00a8ff;
}

.introjs-tooltip {
  background-color: #f5f6fa;
  border: 2px solid #2f3640;
  border-radius: 6px;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

.error {
  color: #e84118;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.quotaError {
  margin: 10px 0;
  font-weight: bold;
  text-align: justify;
}
.quotaError a {
  text-decoration: underline;
  font-style: italic;
}
