.App {
  text-align: center;
  background-color: #353b48;
  min-height: 100vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1.2vmin);
  color: white;
  padding: 5% 10% 0;
}

.App-header h2 > span {
  font-size: small;
  color: #fff;
}

.App-link {
  color: #487eb0;
  font-family: monospace;
  font-size: large;
  font-style: italic;
}

.select-div {
  margin-bottom: 20px;
}

.select-div:focus {
  outline: none;
  border-color: #00a8ff;
  box-shadow: 0 0 0 2px #00a8ff;
}

.select-div select {
  width: 80%;
  max-width: 200px;
  padding: 8px;
  border: 2px solid #2f3640;
  border-radius: 6px;
  background-color: #f5f6fa;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
  margin-top: 6px;
}

.selected-cities-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 2px solid #2f3640;
  border-radius: 6px;
  background-color: #f5f6fa;
  margin-bottom: 20px;
  margin-top: 6px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
}

.selected-cities-container span {
  color: #2f3640;
}

.selected-cities-container strong {
  font-size: 18px;
  color: #00a8ff;
  display: flex;
  align-items: center;
}

.city-label {
  margin-right: 10px;
  font-weight: bold;
  color: #2f3640;
}

.direction {
  margin-top: 6px;
  margin-bottom: 6px;
}
.direction strong {
  color: #e1b12c;
}

.sunPosition {
  margin-top: 6px;
  margin-bottom: 6px;
}
